body {
    padding: 0;
    margin: 0;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-weight: bold;
    background-color: whitesmoke;
    font-style: italic;
}

img {
    width: 60px;
}

.greybg {
    border-radius: 10px;
    color: black;
    background-color: rgb(232, 244, 249);
}

#greenbg {
    color: black;
    background-color: yellowgreen;
    border: 2px solid black;
    border-radius: 6px;
    padding: 3px 15px;
    transition: all 0.3s;

}

#greenbg:hover {
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100px;
    transform: scale(1.1);
}
#submit{
    color: black;
    background-color: yellowgreen;
    border: 2px solid black;
    border-radius: 6px;
    padding: 3px 15px;
    transition: all 0.3s;
}
#submit:hover{
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100px;
    transform: scale(1.1);
}

.navbar li {
    float: left;
    list-style: none;
    margin: 5px 5px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(15, 45, 28);
    top: 0px;
    border-radius: 5px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.navbar li a {
    color: white;
    padding: 3px 3px;
    text-decoration: none;
    margin: auto 12px;
    font-size: 19px;
}

.navbar input {
    padding: 5px 40px;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    box-shadow: inset 3PX 3PX 8PX darkgray;
    margin-right: 20px;
    font-weight: bold;
}

.searchbar {
    float: right;
    padding: 12px 30px;
}

.navbar li a:hover {
    color: greenyellow;
    text-decoration: underline;
    transition: all 0.3s;

}

.skinbg {
    float: left;
    margin: 13px 13px;
    border-radius: 15px;
}

.link {
    text-decoration: none;
    position: absolute;
    left: 60px;
}

.greybg {
    border: 3px solid black;
    background-color: white;
    color: black;
    box-shadow: inset 7px 10px 15px darkgray;
    padding: 20px 15px ;
    font-weight: bold;
}

.mid {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 5px 5px;
}

.right {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    /* border: 2px solid pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 23px;
    color: white;
}

#searchbar {
    background-color: white;
    border: 2px solid black;
}

#searchbar:hover {
    background-color: rgb(243, 248, 250);
}

.para {
    display: flex;
    justify-content: center;
    font-style: normal;
    text-align: center;
}

#tan {
    position: absolute;
    left: 20px;
}

#tan button {
    margin: auto 20px;
    background-color: rgb(15, 45, 28);
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 15px;
    transition: all 0.2s;
}

#tan button:hover {
    color: black;
    background-color: greenyellow;
    cursor: pointer;
    transform: scale(1.1);

}

#tan button:active {
    color: white;
    background-color: black;
}

#Email {
    padding: 7px 7px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(243, 248, 250);
    BOX-SHADOW: INSET 4PX 3PX 8PX DARKGRAY;
    font-weight: bold;
}

.note {
    display: block;
    margin: auto;
    width: 33%;
    color: rgb(208, 3, 3);
    text-decoration: underline;
}